name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check typos
      # run: ./typos ./CONTRIBUTING.md ./README.md
      run: echo "Typo check is temporarily disabled"
      # run: ./typos ./CONTRIBUTING.md ./README.md

    - name: Test
      r

